.header{
    
    .header_text_left{
       justify-content: center;
       align-items: center;
       text-align: start;
        display: flex;
        border: 1px solid black;

        .header-ul{
            display: flex;
            flex-direction: column;

        }
    
    }
    .header_image_right{
        
        border: 1px solid black;
        img{
            width: 100%;
        }
    }
}